## Python Variables
1. Variable Assignment

In [1]:
n=300

In [2]:
print(n)

300

In [3]:
n=1000
print(n)

1000

In [4]:
p=326
p=65565
print(p)

65565

In [5]:
a=b=c=354
print(a,b,c)

354 354 354

2. Variables Types in Python

In [6]:
var=62.5
print(var)

62.5

In [7]:
var="Pavan Kumar"
print(var)

Pavan Kumar

3. Object References

In [8]:
print(473)

473

In [9]:
print("M.V.N Pavan Kumar")

M.V.N Pavan Kumar

In [10]:
type(n)

int

In [11]:
type(var)

str

In [12]:
a=473
print(a)
print()
b=a
print(b)

473

473

4. Variable names

In [14]:
name="bob"
age=25
gender="male"
print(name,age,gender)

bob 25 male

In [15]:
p73=473
print(p73)

473

In [16]:
73p=473
print(73p)

SyntaxError: invalid syntax (<ipython-input-16-6c01e7197faa>, line 1)

In [17]:
age=1
Age=2
aGe=3
agE=4
AGE=5
a_g_e=6
A_G_E=7
_age_=8
_AGE_=9
_age=10
age_=11
print(age,Age,aGe,agE,AGE,a_g_e,A_G_E,_age_,_AGE_,_age,age_)

1 2 3 4 5 6 7 8 9 10 11

## Keywords in Python

In [ ]:
 There are 33 reserved Keywords in Python
 
    False,
    None,
    True,
    and,
    as,
    assert,
    break,
    class,
    continue,
    def,
    del,
    elif,
    else,
    except,
    finally,
    for,
    from,
    global,
    if,
    import,
    in,
    is,
    lambda,
    nonlocal,
    not,
    or,
    pass,
    raise,
    return,
    try,
    while,
    with,
    yield.

## Python Literals
1. Numeric Literals

In [23]:
a=0b1010
b=100
c=0o310
d=0x12c

float_1=10.5
float_2=1.5e2

x=3.14j

print(a,b,c,d)
print(float_1,float_2)
print(x,x.imag,x.real)

10 100 200 300
10.5 150.0
3.14j 3.14 0.0

In [3]:
type(a)

int

In [16]:
type(b)

str

In [17]:
type(c)

str

In [18]:
type(d)

int

In [4]:
type(float_1)

float

In [19]:
type(float_2)

float

In [5]:
type(x)

complex

2. String Literals

In [33]:
strings="This is Python"
char="c"
multiline_str="""This is the multiline string with more than one line code."""
unicode=u"\u00dcnic\u00f6de"
raw_str=r"raw \n string"

print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
c
This is the multiline string with more than one line code.
Ünicöde
raw \n string

3. Boolean Literals

In [7]:
x=(1==True)
y=(1==False)
a=True+4
b=False+10

print("x is",x)
print("y is",y)
print("a:",a)
print("b:",b)

x is True
y is False
a: 5
b: 10

4. Special Literals

In [36]:
drink="Availability"
food=None
def menu(x):
    if x==drink:
        print(drink)
    else:
        print(food)
menu(drink)
menu(food)

Availability
None

5. Literals Collection

In [1]:
fruits=["apple","mango","orange"]
numbers=(1,2,3,"Pavan")
alphabets={'a':'apple','b':'ball','c':'cat'}
vowels={'a','e','i','o','u'}

print(fruits)
print(numbers)
print(alphabets)
print(vowels)

['apple', 'mango', 'orange']
(1, 2, 3, 'Pavan')
{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'a', 'u', 'i', 'o', 'e'}

## Python String

In [10]:
a='apple'
b='ball'
c='cat'
print(a+" "+b+" "+c)

apple ball cat

In [2]:
per="person"
len(per)

6

In [11]:
name="pavan"
length=len(name)
i=0
for n in range(-1,(-length-1),-1):
    print(name[i],"\t",name[n])
    i+=1

p 	 n
a 	 a
v 	 v
a 	 a
n 	 p

## Python String Operators
1. Basic Operators

---> String Concatenation (+) Operator

In [6]:
str1="Hello "
str2="World,"
str3=" Good Morning"
print(str1 + str2 + str3)

Hello World, Good Morning

In [8]:
name="apk"
num="473"
print(name+num)
print(name + " " + num)

apk473
apk 473

In [9]:
print("apk"+"315")

apk315

In [10]:
print("apk"+375)

TypeError: can only concatenate str (not "int") to str

-------> Python String Replication (*) Operator

In [11]:
print("Pavan"*5)
print(3*"Python")
print("ArcX"*2)
print(3*'5')
print(3**5)
print(3*5)
print('@'*5)

PavanPavanPavanPavanPavan
PythonPythonPython
ArcXArcX
555
243
15
@@@@@

2. Membership Operator

In [13]:
str1="ApkZube"
str2="Apk"
str3="Zube"
str4="Pavan"

print('Examples of in Operator::')
print(str2 in str1)
print(str3 in str1)
print(str4 in str1)
print()
print("Examples of not in Operator::")
print(str2 not in str1)
print(str3 not in str1)
print(str4 not in str1)

Examples of in Operator::
True
True
False

Examples of not in Operator::
False
False
True

3. Python Relation Operator

In [62]:
print(11==12)
print(13<=12)
print(13>12)
print(132*3==23*3)
print(3*5==5*3)

False
False
True
False
True

In [16]:
print("ApkZube"=="ApkZube")
print("apkZube">="ApkZube")
print("A"<"a")
print("A">"a")

True
True
True
False

In [ ]:
## Explanation for above program
        The ASCII value of "a" is 97, "b" is 98 and soon..........
                           "A" is 65, "B" is 66 and soon..........

-------> Python String slice Notation

In [53]:
s="Monty Pythons"
print(s[6:10])
print(s[-12:-7])
print(s[-1: : -1])
print(s[2:10:2])
print(s[2:10:3])
print(s[ : :-1])
print(s[ :5])
print(s[3: ])
print(s[ : ])

Pyth
onty
snohtyP ytnoM
nyPt
n t
snohtyP ytnoM
Monty
ty Pythons
Monty Pythons

## Pyton Operators
1. Arithmetic Operators

In [68]:
x=45
y=3
print("x+y=",x+y)
print("x-y=",x-y)
print("x*y=",x*y)
print("x/y=",x/y)
print("x%y=",x%y)
print("x**y=",x**y)
print("x//y=",x//y)

x+y= 48
x-y= 42
x*y= 135
x/y= 15.0
x%y= 0
x**y= 91125
x//y= 15

2. Comparison Operators

In [72]:
x=56
y=52
print("x<y is",x<y)
print("x>y is",x>y)
print("x==y is",x==y)
print("x!=y is",x!=y)
print("x>=y is",x>=y)
print("x<=y is",x<=y)

x<y is False
x>y is True
x==y is False
x!=y is True
x>=y is True
x<=y is False

3. Logical Operators

In [ ]:
and -----> True if both thhe operands are true
or  -----> True if either of the operands are true
not -----> true if operand is false [complements the operand]

In [18]:
x=True
y=False
z=True
a=False

print("x and y are",x and y)
print("x and z are",x and z)
print("x or y is",x or y)
print("y or a is",y or a)
print("not x is",not x)
print("not y is",not y)

x and y are False
x and z are True
x or y is True
y or a is False
not x is False
not y is True

4. Bitwise Operators

In [ ]:
&  ----> AND
|  ----> OR
~  ----> NOT
^  ----> XOR
>> ----> Right shift
<< ----> Left shift

In [21]:
x=10
y=4
print("x & y is",x&y)
print("x | y is",x|y)
print("~x is",~x)
print("~y is",~y)
print("x ^ y is",x^y)
print()
print("x >> 2 is",x>>2)
print("x << 2 is",x<<2)
print("y << 2 is",y<<2)
print("y >> 2 is",y>>2)

x & y is 0
x | y is 14
~x is -11
~y is -5
x ^ y is 14

x >> 2 is 2
x << 2 is 40
y << 2 is 16
y >> 2 is 1

5. Identity Operators

In [93]:
x1=5
y1=5
x2="Hello"
y2="Hello"
x3=[1,2,3]
y3=[1,2,3]

print(x1 is not y1)
print(x2 is y2)
print(x3 is y3)

False
True
False

In [ ]:
x3 and y3 are list. They are equal but not identical. It is because interpreter locates them separately in memory although they
are equal

6. Membership Operator

In [95]:
x="Hello World"
y={1:'a',2:'b'}
print('H' in x)
print('hello' not in x)
print(1 in y)
print('a' in y)

True
True
True
False

## Python List

In [26]:
list=['foo','bar','baz','qau','quux','corge']
print(list)

['foo', 'bar', 'baz', 'qau', 'quux', 'corge']

In [30]:
print(list)
print()
print(list[2])
print()
print(list[4:6])
print(list[-4:-1])
print(list[1:5:2])
print(list[-1: :-1])
print(list[-1: :-2])

['foo', 'bar', 'baz', 'qau', 'quux', 'corge']

baz

['quux', 'corge']
['baz', 'qau', 'quux']
['bar', 'qau']
['corge', 'quux', 'qau', 'baz', 'bar', 'foo']
['corge', 'qau', 'bar']

In [100]:
for x in list:
    print(x)

foo
bar
baz
qau
quux
corge

In [31]:
list1=['a','sdf','sf']
list2=['sff','jhff','dajhfds']
list3=list1+list2
print(list1)
print(list2)
print(list3)

['a', 'sdf', 'sf']
['sff', 'jhff', 'dajhfds']
['a', 'sdf', 'sf', 'sff', 'jhff', 'dajhfds']

In [32]:
a='x'
print(list1+a)

TypeError: can only concatenate list (not "str") to list

In [35]:
a=["x"]
print(list1+a)

['a', 'sdf', 'sf', 'x']

In [105]:
print(list*3)

['foo', 'bar', 'baz', 'qau', 'quux', 'corge', 'foo', 'bar', 'baz', 'qau', 'quux', 'corge', 'foo', 'bar', 'baz', 'qau', 'quux', 'corge']

In [38]:
data1=[5,10,15,20,25]
print("Values of list are: ")
print(data1)
print()
data1[2]='Multiple of 5 & 3'
print('Values of list are: ')
print(data1)

Values of list are:
[5, 10, 15, 20, 25]

Values of list are:
[5, 10, 'Multiple of 5 & 3', 20, 25]

In [40]:
name=['a','b','c']
name.append(1.5)
name.append('x')
name.append(['y','z'])
print(name)

['a', 'b', 'c', 1.5, 'x', ['y', 'z']]

In [41]:
print("data in list : ",name)
print()
del(name[3])
print("new data in list : ",name)

data in list :  ['a', 'b', 'c', 1.5, 'x', ['y', 'z']]

new data in list :  ['a', 'b', 'c', 'x', ['y', 'z']]

In [43]:
list1=['a','b','c']
list2=[1,2,3]
list3=['a','b','c',1,2,3]
list4=[65665,654,35,9362]

print(min(list1))
print(min(list2))
print(min(list4))
print(min(list3))

a
1
35

TypeError: '<' not supported between instances of 'int' and 'str'

In [45]:
list1=['a','b','c']
list2=[1,2,3]
list3=['a','b','c',1,2,3]
list4=[248,238,5619,5219,8716,5196,351968,35136,46341,63984]

print(max(list1))
print(max(list2))
print(max(list4))
print(max(list3))

c
3
351968

TypeError: '>' not supported between instances of 'int' and 'str'

In [46]:
pavan=[1,2,3,4,5,6,7,8,9,'a',2,2]
print(pavan.count(1))
print(pavan.count('a'))
print(pavan.count(2))

1
1
3

In [125]:
name=[1,2,3]
name.extend([4])
name.extend('apkzube')
name.extend(['a','b','c'])
print(name)

[1, 2, 3, 4, 'a', 'p', 'k', 'z', 'u', 'b', 'e', 'a', 'b', 'c']

In [127]:
print("index of java : ",name.index(1))

index of java :  0

In [129]:
name.insert(3,'c#')
print(name)

[1, 2, 3, 'c#', 'c#', 4, 'a', 'p', 'k', 'z', 'u', 'b', 'e', 'a', 'b', 'c']

In [130]:
name.pop()
print(name)

[1, 2, 3, 'c#', 'c#', 4, 'a', 'p', 'k', 'z', 'u', 'b', 'e', 'a', 'b']

In [133]:
name.remove(2)
print(name)

[1, 3, 'c#', 'c#', 4, 'a', 'k', 'z', 'u', 'b', 'e', 'a', 'b']

In [134]:
name.reverse()
print(name)

['b', 'a', 'e', 'b', 'u', 'z', 'k', 'a', 4, 'c#', 'c#', 3, 1]

In [137]:
score=[5465,25635,8243,816354,368526837,324]
score.sort()
print(score)

[324, 5465, 8243, 25635, 816354, 368526837]

## Python Tuple

In [69]:
t1=('a','b','c',1,2,3,4,5,"Pavan",563,)
t2="a","b","c","d"
t3=(1,2,3,['a','b','c'],('z',2569))

print(t1)
print(t2)
print(t3)

('a', 'b', 'c', 1, 2, 3, 4, 5, 'Pavan', 563)
('a', 'b', 'c', 'd')
(1, 2, 3, ['a', 'b', 'c'], ('z', 2569))

In [70]:
t4=(2,)
print(t4)

(2,)

In [71]:
for x in t3:
    print(x)

print()
    
for y in t1:
    print(y)

1
2
3
['a', 'b', 'c']
('z', 2569)

a
b
c
1
2
3
4
5
Pavan
563

In [72]:
t5=t1+t2+t3+t4
print(t5)

('a', 'b', 'c', 1, 2, 3, 4, 5, 'Pavan', 563, 'a', 'b', 'c', 'd', 1, 2, 3, ['a', 'b', 'c'], ('z', 2569), 2)

In [73]:
print(t1*2)
print(t5*5)

('a', 'b', 'c', 1, 2, 3, 4, 5, 'Pavan', 563, 'a', 'b', 'c', 1, 2, 3, 4, 5, 'Pavan', 563)
('a', 'b', 'c', 1, 2, 3, 4, 5, 'Pavan', 563, 'a', 'b', 'c', 'd', 1, 2, 3, ['a', 'b', 'c'], ('z', 2569), 2, 'a', 'b', 'c', 1, 2, 3, 4, 5, 'Pavan', 563, 'a', 'b', 'c', 'd', 1, 2, 3, ['a', 'b', 'c'], ('z', 2569), 2, 'a', 'b', 'c', 1, 2, 3, 4, 5, 'Pavan', 563, 'a', 'b', 'c', 'd', 1, 2, 3, ['a', 'b', 'c'], ('z', 2569), 2, 'a', 'b', 'c', 1, 2, 3, 4, 5, 'Pavan', 563, 'a', 'b', 'c', 'd', 1, 2, 3, ['a', 'b', 'c'], ('z', 2569), 2, 'a', 'b', 'c', 1, 2, 3, 4, 5, 'Pavan', 563, 'a', 'b', 'c', 'd', 1, 2, 3, ['a', 'b', 'c'], ('z', 2569), 2)

In [74]:
print(t1)
del t1
print("After deleting t1 :")
print(t1)

('a', 'b', 'c', 1, 2, 3, 4, 5, 'Pavan', 563)
After deleting t1 :

NameError: name 't1' is not defined

In [75]:
print(t5)

('a', 'b', 'c', 1, 2, 3, 4, 5, 'Pavan', 563, 'a', 'b', 'c', 'd', 1, 2, 3, ['a', 'b', 'c'], ('z', 2569), 2)

In [76]:
len(t5)

20

In [77]:
t6=(-356,1,2,3,656,48653,1354)
print(max(t6))

48653

In [78]:
print(min(t6))

-356

In [79]:
s="apkzube"
t7=tuple(s)
list=[1,2,3]
t8=tuple(list)

print(t7)
print(t8)

('a', 'p', 'k', 'z', 'u', 'b', 'e')
(1, 2, 3)

## Python Dictionary

In [4]:
dict1={}
dict={1:'Pavan',2:'kumar',3:'MVN'}
print(dict1)
print(dict)

{}
{1: 'Pavan', 2: 'kumar', 3: 'MVN'}

In [10]:
lan={1:'Python',2:'Java',3:'c++','a':"Gods Language"}
print(lan)

{1: 'Python', 2: 'Java', 3: 'c++', 'a': 'Gods Language'}

In [9]:
print(lan[1])

Python

In [8]:
lan[1]

'Python'

In [11]:
print(lan['a'])

Gods Language

In [12]:
lan['a']

'Gods Language'

In [18]:
lan={1:'Python',2:'Java',3:'c++','a':"Gods Language"}
print(lan.keys())

dict_keys([1, 2, 3, 'a'])

In [20]:
for x in lan.keys():
    print(lan[x])

Python
Java
c++
Gods Language

In [21]:
print(lan[4])

KeyError: 4

In [ ]:
## Updating Dictionary

In [22]:
print(lan)

{1: 'Python', 2: 'Java', 3: 'c++', 'a': 'Gods Language'}

In [23]:
lan[4]="APPLE"
print(lan)

{1: 'Python', 2: 'Java', 3: 'c++', 'a': 'Gods Language', 4: 'APPLE'}

In [24]:
lan['a']="Goku"
print(lan)

{1: 'Python', 2: 'Java', 3: 'c++', 'a': 'Goku', 4: 'APPLE'}

In [ ]:
## Deleting Dictionary

In [26]:
print(lan)

{1: 'Python', 2: 'Java', 3: 'c++', 'a': 'Goku', 4: 'APPLE'}

In [27]:
del lan[3]
print(lan)

{1: 'Python', 2: 'Java', 'a': 'Goku', 4: 'APPLE'}

In [28]:
lan.clear()
print(lan)

{}

In [31]:
print(dict)

{1: 'Pavan', 2: 'kumar', 3: 'MVN'}

In [33]:
del dict
print(dict[2])

NameError: name 'dict' is not defined

In [ ]:
## Built-in dictionary functions and methods

In [41]:
dog={1:'python',2:'java',3:'c++',4:'PHP'}
len(dog)

4

In [42]:
print(dog)

{1: 'python', 2: 'java', 3: 'c++', 4: 'PHP'}

In [43]:
str(dog)

"{1: 'python', 2: 'java', 3: 'c++', 4: 'PHP'}"

In [44]:
print(str(dog))

{1: 'python', 2: 'java', 3: 'c++', 4: 'PHP'}

In [45]:
type(dog)

dict

In [46]:
print(type(dog))

<class 'dict'>

In [47]:
print(dog)

{1: 'python', 2: 'java', 3: 'c++', 4: 'PHP'}

In [48]:
print(str(dog))
dog.clear()
print(str(dog))

{1: 'python', 2: 'java', 3: 'c++', 4: 'PHP'}
{}

In [54]:
pig={'a':'Apple','b':'Ball','c':'Cat','d':'Dog'}
print(pig)

print()

cat=pig.copy()
print(cat)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [55]:
seq=('java','python','c++','php','r')
dict=dict.fromkeys(seq)

print("New Dictionary : %s" % str(dict))
dict=dict.fromkeys(seq,50)
print("New Dictionary : %s" % str(dict))

New Dictionary : {'java': None, 'python': None, 'c++': None, 'php': None, 'r': None}
New Dictionary : {'java': 50, 'python': 50, 'c++': 50, 'php': 50, 'r': 50}

In [56]:
dict1={1:'python',2:'java',3:'c++',4:'pphp'}
print(dict1.items())

dict_items([(1, 'python'), (2, 'java'), (3, 'c++'), (4, 'pphp')])

In [57]:
print(dict1)

{1: 'python', 2: 'java', 3: 'c++', 4: 'pphp'}

In [58]:
dict2=dict1.keys()
print(dict2)

dict_keys([1, 2, 3, 4])

In [59]:
dict3={1:'python',2:'java',3:'c++',4:'php'}
dict4={1:'python3',5:'C'}

dict3.update(dict4)
print(dict3)

{1: 'python3', 2: 'java', 3: 'c++', 4: 'php', 5: 'C'}

In [60]:
values=dict3.values()
print(values)

dict_values(['python3', 'java', 'c++', 'php', 'C'])

In [64]:
details={"emp_name":"Pavan","Age":22,"emp_id":473}
details.setdefault("Company","Amazon")

print(details['emp_name'])
print(details["Company"])

Pavan
Amazon

In [65]:
details["Place"]="Bangalore"
print(details)

{'emp_name': 'Pavan', 'Age': 22, 'emp_id': 473, 'Company': 'Amazon', 'Place': 'Bangalore'}

In [67]:
print(details["Place"])

Bangalore

## Python Functons

In [71]:
def sum(a,b):
    c=a+b
    return c

sum(543,325)

868

In [72]:
def sum(a,b):
    c=a+b
    return c

sum(-543,-325)

-868

In [73]:
def sum(a,b):
    c=a+b
    return c

sum(543,-325)

218

In [74]:
def sum(a,b):
    c=a+b
    return c

sum(-543,325)

-218

In [ ]:
## Calling a functon

In [75]:
def swap(x,y):
    temp=x;
    x=y;
    y=temp;
    return

x=2
y=3
swap(x,y)
print(x)
print(y)

2
3

In [ ]:
## Python Functon return Statement

In [77]:
def sum(a,b):
    print("Adding the two values")
    print("Printing within Functon")
    print(a+b)
    return a+b

def msg():
    print("Hello")
    return

total=sum(10,37)
print('total:',total)
msg()
print("Rest of code")

Adding the two values
Printing within Functon
47
total: 47
Hello
Rest of code

In [ ]:
## Function Argument and Parameter

In [78]:
def evenOdd(x):
    if(x%2==0):
        print("Even")
    else:
        print("Odd")
    return

evenOdd(5)

Odd

In [80]:
evenOdd(5466666666666666)

Even

## Functon Argument

In [ ]:
1. Required argument or Position Argument

In [81]:
def cube(x):
    y=x*x*x;
    return y

z=cube(2)
print(z)

8

In [82]:
m=cube(54656)
print(m)

163272684732416

In [83]:
def describe_pets(animal_type,pet_name):
    print(f"I have a {animal_type}")
    print(f"my {animal_type}'s name is {pet_name}")
    
describe_pets("Dog","Tom")

I have a Dog
my Dog's name is Tom

In [ ]:
2. Keyword Argument

In [85]:
def remainder(dividend,divisor):
    x=dividend%divisor
    return x

rem=remainder(divisor=3,dividend=10)
print("remainder of 10/3: ",rem)

remainder of 10/3:  1

In [89]:
rem=remainder(divisor=25,dividend=5)
print(float(rem))

5.0

In [91]:
def describe_pets(animal_type,pet_name):
    print(f"I have a {animal_type}")
    print(f"my {animal_type}'s name is {pet_name}")
    
describe_pets(animal_type="Dog",pet_name="Tom")

I have a Dog
my Dog's name is Tom

In [92]:
def describe_pets(animal_type,pet_name):
    print(f"I have a {animal_type}")
    print(f"my {animal_type}'s name is {pet_name}")
    
describe_pets(pet_name="Tom",animal_type="Dog")

I have a Dog
my Dog's name is Tom

In [ ]:
3. Default Argument

In [93]:
def emp_data(name,emp_id,age,company="Self employee"):
    print("Details of: ",name)
    print("Emp Id: ",emp_id)
    print("Age: ",age)
    print("Company: ",company)
    
emp_data("Pavan",473,22)
print()
emp_data("Jagadeesh",2165,31)

Details of:  Pavan
Emp Id:  473
Age:  22
Company:  Self employee

Details of:  Jagadeesh
Emp Id:  2165
Age:  31
Company:  Self employee

In [94]:
def describe_pets(animal_name,pet_name,age):
    print("I have a "+ animal_name)
    print("my "+ animal_name +"'s name is "+ pet_name +", and it's age is "+ str(age))
    
describe_pets('Cat','Kitty',22)

I have a Cat
my Cat's name is Kitty, and it's age is 22

In [95]:
def describe_pets(animal_name,pet_name="Kitty"):
    print(f"I have a {animal_name}")
    print(f"my {animal_name}'s name is {pet_name}'")
    
describe_pets('Cat')

I have a Cat
my Cat's name is Kitty'

In [ ]:
4. Variable-length Arguments

In [96]:
def greet(*msg):
    for m in msg:
        print(m)

In [97]:
greet('Hello','Pavan',"how",'you',35,26,65)

Hello
Pavan
how
you
35
26
65

In [98]:
def printinfo(arg1,*vartuple):
    print("Output is: ")
    print(arg1)
    for var in vartuple:
        print(var)
        
printinfo(215,218,38743,1687)

Output is:
215
218
38743
1687

## Python Anonumous Function (lambda Function)

In [ ]:
syntax:
        lambda[arg1[arg2,......argn]]:expression

In [99]:
def square(x):
    return x*x

sqr=lambda x:x*x

print("square of number is: ",square(513))

square of number is:  263169

In [ ]:
## Scope of Variable

In [ ]:
Global Variable & Local Variable

In [105]:
x=50

def print_data():
    x=5
    y=10
    print("(x,y):(",x,",",y,")")

print_data()
print("Global x:",x)
print("Local y:",y)

(x,y):( 5 , 10 )
Global x: 50
Local y: 3

## Python Comment

In [1]:
# This is a single line comment

In [2]:
# This is a comment
# written in 
# more than just one line
print("Hello, world!")

Hello, world!

In [5]:
n=5
n+=1  # increase n by 1
print(n)

6

## Python Statements

In [ ]:
## 1. If Statement

In [6]:
grade=73
if grade>=60:
    print("Passing Grade")

Passing Grade

In [10]:
grade=53
if grade>=60:
    print("Passing Grade")

In [ ]:
## 2. If-else Statement

In [9]:
grade=59
if grade>=60:
    print("Passing Grade")
else:
    print("Failed")

Failed

In [ ]:
## 3. Else-If Statement

In [ ]:
## It is used for more than two possible outcomes

In [12]:
grade=88
if grade>=90:
    print("A grade")
elif grade>=80:
    print("B grade")
elif grade>=70:
    print("C grade")
elif grade>=60:
    print("D grade")
else:
    print("Faling grade")

B grade

In [13]:
grade=90
if grade>=90:
    print("A grade")
elif grade>=80:
    print("B grade")
elif grade>=70:
    print("C grade")
elif grade>=60:
    print("D grade")
else:
    print("Faling grade")

A grade

In [14]:
grade=59
if grade>=90:
    print("A grade")
elif grade>=80:
    print("B grade")
elif grade>=70:
    print("C grade")
elif grade>=60:
    print("D grade")
else:
    print("Faling grade")

Faling grade

In [17]:
grade=60
if grade>=90:
    print("A grade")
elif grade>=80:
    print("B grade")
elif grade>=70:
    print("C grade")
elif grade>=60:
    print("D grade")
else:
    print("Faling grade")

D grade

In [ ]:
## 4. Nested-If Statement

In [21]:
a=25
if a>=30:
    print("Condition is true")
else:
    if a>=26:
        print("Checking second value")
    else:
        print("All Conditions are False")

All Conditions are False

In [25]:
a=16
if a>=20:
    print("Condition is true")
else:
    if a>=15:
        print("Checking second value")
        print("Condition is True")
    else:
        print("All Conditions are False")

Checking second value
Condition is True

## Python For Loop

In [30]:
num=2
for b in range(1,11):
    print(num**b)

2
4
8
16
32
64
128
256
512
1024

In [34]:
for b in range(1,11):
    print(num*b)

2
4
6
8
10
12
14
16
18
20

In [39]:
sum=0
for n in range(1,11):
    sum+=n
print(sum)

55

In [47]:
row=6
for i in range(row):
    for j in range(i):
        print(i,end=" ")
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [57]:
row=6
for i in range(row):
    for j in range(5,i-1,-1):
        print("*",end="")
    print(" ")

******
*****
****
***
**
*

## While Loop

In [1]:
a=10

while a>0:
    print("Value of a is ",a)
    a=a-2
print("Loop is Completed")

Value of a is  10
Value of a is  8
Value of a is  6
Value of a is  4
Value of a is  2
Loop is Completed

In [2]:
count = 0
n=10
while (count<n):
    count +=1;
    print("Hello World",count)

Hello World 1
Hello World 2
Hello World 3
Hello World 4
Hello World 5
Hello World 6
Hello World 7
Hello World 8
Hello World 9
Hello World 10

## Python Break Statement

In [5]:
number = 0
for number in range(10):
    number=number+1
    if number==5:
        break
    print("Number is: " + str(number))
print("Out of loop")

Number is: 1
Number is: 2
Number is: 3
Number is: 4
Out of loop

In [6]:
number = 0
for number in range(10):
    number=number+1
    if number==15:
        break
    print("Number is: " + str(number))
print("Out of loop")

Number is: 1
Number is: 2
Number is: 3
Number is: 4
Number is: 5
Number is: 6
Number is: 7
Number is: 8
Number is: 9
Number is: 10
Out of loop

## Python Continue Statement

In [8]:
a=0
while a<=5:
    a=a+1
    if a%2==0:
        continue
    print(a)
print("End of Loop")

1
3
5
End of Loop

## Python Pass Statement

In [9]:
number=0
for number in range(10):
    number=number+1
    if number == 5:
        pass
    print("Number is " + str(number))
print("Out of Loop")

Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Number is 6
Number is 7
Number is 8
Number is 9
Number is 10
Out of Loop

## Python Input and Output

In [18]:
print("M.V.N Pavan Kumar")
p=473
print(p)

M.V.N Pavan Kumar
473

In [20]:
def cube(x):
    return x*x*x
a=int(input("Enter a Number: "))
print("Cube of ",a,"is: ",cube(a))

Enter a Number: 15
Cube of  15 is:  3375

## Python File Handling

1. The File Atributes

In [2]:
# Openafile
data=open("data.txt","wb")
print("Name of the file: ",data.name)
print("Closed or not: ",data.closed)
print("Opening mode: ",data.mode)
data.closed

Name of the file:  data.txt
Closed or not:  False
Opening mode:  wb

False

In [3]:
data=open("data.txt","w")
data.write("Welcome to the world of Programming")
print("done")
data.close

done

2. Reading and Writing Files

In [8]:
# Open a file
data=open("data.txt","w")
data.write("Welcome to ApkZube's Python Tutorial")
print("done")
data.close

done

In [9]:
# Open a File
data=open("data.txt","r+")
file_data=data.read(18) # read 18 byte only
fill_data=data.read()
print(file_data)
print(fill_data)
data.close()

3. File Positions

In [10]:
data=open("data.txt","r+")
file_data=data.read(18)
print("current position after reading 18 byte :",data.tell())
data.seek(0)
full_data=data.read()
full_data=data.read()
print(file_data)
print(full_data)
print("position after reading file: ",data.tell())
data.close()

current position after reading 18 byte : 0


position after reading file:  0

4. Rename and Deleting Files

In [14]:
import os
os.rename("data.txt","my_data.txt")

PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'data.txt' -> 'my_data.txt'

In [15]:
import os
os.remove("my_data.txt")

FileNotFoundError: [WinError 2] The system cannot find the file specified: 'my_data.txt'

5. Directories of Python

In [16]:
import os
os.mkdir('apkzube')

In [17]:
import os
os.chdir("/home/newdir")

FileNotFoundError: [WinError 3] The system cannot find the path specified: '/home/newdir'

In [18]:
import os
print(os.getcwd())

C:\Users\mvnpa

In [19]:
import os
os.rmdir("/home/apkzube")

FileNotFoundError: [WinError 3] The system cannot find the path specified: '/home/apkzube'

## Python Module
1. Importing a Module

In [10]:
def add(a,b):
    z=a+b
    print("Inside add func")
    return z
print(add(5,10))

Inside add func
15

In [9]:
import test
x=5
print("x=",x)

x= 5

2. from....import Statement

In [15]:
# Fibonacci number module
def fib(n):
    result=[]
    a,b=0,1
    while b<n:
        result.append(b)
        a,b=b,a+b
    return result
print(fib(1000))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

3. Executing module as Scripts

In [18]:
# Fibonacci number module
def fib(n): # return Fibonacciseries up to n
    result=[]
    a,b=0,1
    while b<n:
        result.append(b)
        a,b=b,a+b
    return result

if __name__=='__main__':
    f=fib(26555)
    print(f)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711]

4. Built in Module in Python

4.1 math module

In [21]:
import math

a=4.6
print(math.ceil(a))
print(math.floor(a))
b=9
print(math.sqrt(b))
print(math.exp(3.0))
print(math.log(2.0))
print(math.pow(2.0,3.0))
print(math.sin(0))
print(math.cos(0))
print(math.tan(45))

5
4
3.0
20.085536923187668
0.6931471805599453
8.0
0.0
1.0
1.6197751905438615

4.2 constant module

In [22]:
import math
print("math.pi :",math.pi)
print("math.e :",math.e)

math.pi : 3.141592653589793
math.e : 2.718281828459045

4.3 random module

In [26]:
import random
print(random.random())
print(random.randint(2,8))

0.667859166998126
6

In [27]:
import random
print(random.random())
print(random.randint(2,8))

0.2115465610902557
7

In [30]:
import random
print(random.random())
print(random.randint(2,8))

0.010786481688290661
5

5. Python Packages

In [59]:
import os
os.mkdir("Pavan")

In [61]:
def msg1():
    print("Manepalli")

In [62]:
def msg2():
    print("Venkata Nagendra")

In [63]:
def msg3():
    print("Pavan Kumar")

In [68]:
msg1()

Manepalli

## Python Objects

# Python Class

1. Creating Classes

In [5]:
class Students:
    "Common base class for all students"
    students_count=0
    
    def __init__(self,name,id):
        self.name=name
        self.id=id
        Students.students_count+=1
        
    def printStudentsData(self):
        print("Name:",self.name,"\nId:",self.id)
        
s=Students("Pavan",473)
s.printStudentsData()

Name: Pavan
Id: 473

In [7]:
class Students:
    "Common base class for all students"
    students_count=0
    
    def __init__(self,name,id):
        self.name=name
        self.id=id
        Students.students_count+=1
        
    def printStudentsData(self):
        print("Name:",self.name,"Id:",self.id)
        
s1=Students("Pavan",473)
s2=Students("Chari",101)
s3=Students("Malli",102)
print("Total Students:",Students.students_count)
s1.printStudentsData()
s2.printStudentsData()
s3.printStudentsData()

Total Students: 3
Name: Pavan Id: 473
Name: Chari Id: 101
Name: Malli Id: 102

In [9]:
hasattr(s1,'id')
getattr(s1,'id')
setattr(s1,'id',103)
delattr(s3,'id')

In [10]:
s1.printStudentsData()

Name: Pavan Id: 103

In [11]:
getattr(s1,'id')

103

In [12]:
hasattr(s1,'id')

True

In [13]:
s3.printStudentsData()

AttributeError: 'Students' object has no attribute 'id'

In [15]:
class Students:
    "Common base class for all students"
    students_count=0
    
    def __init__(self,name,id):
        self.name=name
        self.id=id
        Students.students_count+=1
        
    def printStudentsData(self):
        print("Name:",self.name,"Id:",self.id)
        
s1=Students("Pavan",473)
s2=Students("Chari",101)
s3=Students("Malli",102)
print("Total Students:",Students.students_count)
s1.printStudentsData()
s2.printStudentsData()
s3.printStudentsData()
print("Students.__doc__:",Students.__doc__)
print("Students.__name__:",Students.__name__)
print("Studeb=nts.__module__:",Students.__module__)
print("Students.__bases__:",Students.__bases__)
print("Students.__dict__:",Students.__dict__)

Total Students: 3
Name: Pavan Id: 473
Name: Chari Id: 101
Name: Malli Id: 102
Students.__doc__: Common base class for all students
Students.__name__: Students
Studeb=nts.__module__: __main__
Students.__bases__: (<class 'object'>,)
Students.__dict__: {'__module__': '__main__', '__doc__': 'Common base class for all students', 'students_count': 3, '__init__': <function Students.__init__ at 0x000001D0403B3C10>, 'printStudentsData': <function Students.printStudentsData at 0x000001D0403B3B80>, '__dict__': <attribute '__dict__' of 'Students' objects>, '__weakref__': <attribute '__weakref__' of 'Students' objects>}

## Python Constructor

In [16]:
class ComplexNumber:
    def __init__(self,r=0,i=1):
        self.real=r;
        self.imag=i;
        
    def getData(self):
        print("{0}+{1}j".format(self.real,self.imag))
        
c=ComplexNumber(6,9)
c.getData()

6+9j

Parameterized Constructor

In [2]:
class Student:
    def __init__(self,name):
        print("Thid is parametrized constructor")
        self.name=name
        
    def show(self):
        print("Hello",self.name)
        
s=Student("Pavan")
s.show()

Thid is parametrized constructor
Hello Pavan

## Python Inheritance

In [11]:
class Parent:
    parantAttr=100
    
    def __init__(self):
        print("Calling parent constructor")
        
    def parentMethod(self):
        print("calling parentd method")
        
    def setAttr(self,attr):
        Parent.parentAttr=attr
        
    def getAttr(self):
        print("Parent attribute:",Parent.parentAttr)
        
class Child(Parent):
    def __init(self):
        print("Calling child constructor")
        
    def childMethod(self):
        print("Calling child method")
        
c=Child()
c.childMethod()

Calling parent constructor
Calling child method

Overriding Methods

In [16]:
class Parent:
    def myMethod(self):
        print("Calling parents method")
        
class Child(Parent):
    def myMethod(self):
        print("Calling child method")
        
C=Child()
C.myMethod()

Calling child method

Overloading Operators

In [18]:
class Vector:
    def __init__(self,a,b):
        self.a=a
        self.b=b
        
    def __str__(self):
        return "Vector (%d,%d)" % (self.a,self.b)
    
    def __add__(self,other):
        return Vector(self.a + other.a,self.b + other.b)
    
v1=Vector(2,6505)
v2=Vector(52,13)
print(v1,v2)

Vector (2,6505) Vector (52,13)

Data Hiding

In [21]:
class JustCounter:
    __secretCount=0
    
    def count(self):
        self.__secretCount+=1
        print(self.__secretCount)
    
counter=JustCounter()
counter.count()
counter.count()
print(counter.__secretCount)

1
2

AttributeError: 'JustCounter' object has no attribute '__secretCount'

## Python MultiLevel Inheritance

In [26]:
class Animal:
    def eat(self):
        print("Eating...")
        
class Dog(Animal):
    def bark(self):
        print("Barking...")
        
class BabyDog(Dog):
    def weep(self):
        print("Weeping...")
        
d=BabyDog()
d.eat()
d.bark()
d.weep()

Eating...
Barking...
Weeping...

## Python Multiple Inheritance

In [29]:
class First(object):
    def __init__(self):
        super(First,self).__init__()
        print("First")
        
class Second(object):
    def __init__(self):
        super(Second,self).__init__()
        print("Second")

class Third(Second,First):
    def __init__(self):
        super(Third,self).__init__()
        print("Third")
        
Third()

First
Second
Third

Private members of parents class

In [33]:
class C(object):
    def __init__(self):
        self.c=21
        # d is private instance variable
        self.__d=42
        
class D(C):
    def __init__(self):
        self.e=84
        C.__init__(self)
        
object1=D()
print(D.d)

AttributeError: type object 'D' has no attribute 'd'

## Python Polymorphism

Inbuilt polymorphic functions

In [34]:
print(len("Pavan"))

5

In [35]:
print(len([10,5668,3546,"idkf"]))

4

Method Overloading

In [6]:
# First product method.
# Takes two argument and print their
# product

def product(a,b):
    p=a*b
    print(p)

In [8]:
product(10,35)

350

In [9]:
# second product method
# Takes three argumen and print their
# product

def product(a,b,c):
    p=a*b*c
    print(p)

In [10]:
product(524,525,56)

15405600

Overriding Methods

In [11]:
class Parent:
    def myMethod(self):
        print("Calling parents method")
        
class Child(Parent):
    def myMethod(self):
        print("Calling Child method")
        
C=Child()
C.myMethod()

Calling Child method

## Python Exceptions Handling

Handling an Exception

In [12]:
try:
    fh=open("demo","w")
    fh.write("This is my test file for exception Handling!!")
except IOError:
    print("Error: can\'t find file or read data")
else:
    print("Written content in the file sucessfully")
    fh.close()

Written content in the file sucessfully

The try-finally Cluse

In [13]:
try:
    fh=open("demo","w")
    fh.write("This is my test file for exception Handling!!")
finally:
    print("Error: can\'t find file or read data")
    fh.close()

Error: can't find file or read data

Argument of an Exception

In [14]:
def temp_convert(var):
    try:
        return int(var)
    except ValueError as Argument:
        print("The argument does not contain numbers\n",Argument)
        
temp_convert("XYZ")

The argument does not contain numbers
 invalid literal for int() with base 10: 'XYZ'

Raising an Exception

In [15]:
def funtionName(level):
    if level<1:
        raise Exception(level)
    return level

try:
    l=funtionName(-10)
    print("level= ",1)
except Exception as e:
    print("Error in level argument",e.args[0])

Error in level argument -10