In [ ]:
case study:

In [ ]:
createname,display,greet

In [2]:
class name():
    def createname(self,name):
        self.name=name
    def display(self):
        return self.name
    def greet(self):
        print("Hello,How are you, "+ self.name)

In [11]:
sum=name()

In [12]:
sum.createname("Pavan")

In [13]:
sum.display()

'Pavan'

In [14]:
sum.greet()

Hello,How are you, Pavan

In [ ]:
## Example

In [15]:
class example:
    eyes="Blue"
    age=22
    def this(self):
        print("He is my Brother")
    def show(self):
        print("He is still studying")

In [17]:
p=example()

In [18]:
p.eyes

'Blue'

In [19]:
p.age

22

In [20]:
p.this()

He is my Brother

In [21]:
p.show()

He is still studying

## Constructer

In [ ]:
__init__  for constructer ----> to construct

In [22]:
class students:
    def __init__(self,name,age,height):
        self.name=name
        self.age=age
        self.height=height
        print("He is in the class")
    def rank(self):
        print(f"{self.name} has passed in the exams")
    def show(self):
        print(f"He is {self.age} and his height is {self.height}")

In [25]:
s=students("Varma",26,5.10)

He is in the class

In [26]:
s.rank()

Varma has passed in the exams

In [27]:
s.show()

He is 26 and his height is 5.1

In [28]:
s=students("chintu",22,6)

He is in the class

In [29]:
s.show()

He is 22 and his height is 6

## Decontructor

In [ ]:
__del__ for deleting purpose

In [30]:
class students:
    def __del__(self,name,age,height):
        self.name=name
        self.age=age
        self.height=height
        print("He is in the class")
    def rank(self):
        print(f"{self.name} has passed in the exams")
    def show(self):
        print(f"He is {self.age} and his height is {self.height}")

In [33]:
abc=students("Pavan",132,5)

TypeError: students() takes no arguments

In [ ]:
## Example

In [91]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def display(self):
        print("Hi this is " + self.name + " My age is " + str(self.age))

In [92]:
q=person("pavan",22)

In [93]:
q.name

'pavan'

In [94]:
q.age

22

In [95]:
q.display()

Hi this is pavan My age is 22

In [57]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def display(self):
        print("hii this is "+self.name)

In [58]:
p=person("john",22)

In [59]:
p.age

22

In [60]:
p.display()

hii this is john